body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Georgia, serif;
    color: #000;
}

    /* Navbar */

.navbar-default {
    background: #000;
    border: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.navbar-default .nav li a {
    font-weight: 900;
    color: #fff;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.navbar-default .nav li a:hover {
    background: none;
    box-shadow: none;
	outline: 0;
    color: #d9534f;
}

.navbar-default .navbar-collapse {
    border: none;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 3px;
}

.navbar-default .navbar-brand {
    font-size: 28px;
    font-weight: 900;
    color: #fff;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.navbar-default .navbar-brand:hover {
    color: #d9534f;
}

    /* Main */

#main {
    margin-top: 60px;
}

#main .home-post {
    padding-left: 0px;
    padding-right: 0px;
}

#main .thumbnail {
    margin-bottom: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}

#main .caption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: -100px;
    left: 0;
    width: 100%;
    text-shadow: -2px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: #FFF;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#main .caption h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 0.8;
}

#main .caption h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1;
}

#main .caption p {
    margin: 0px;
    font-size: 16px;
}

#main .thumbnail:hover > .caption {
    bottom: 0;
}

#main .caption-date {
    top: -30px;
    right: 0;
    left: inherit;
    bottom: inherit;
    padding: 0;
    width: 100px;
}

#main .caption-date p {
    font-size: 18px;
}

#main .thumbnail:hover > .caption-date {
    top: 0;
    bottom: inherit;
}

#main .thumbnail img.photo-glass {
	position: absolute;
	left: 0;
	top: 0;
    z-index: 10;
}

#main .box {
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
}

#main .box-first {
    border-top: 2px solid #000;
}

#main .box h3 {
    margin-top: 15px;
}

#main .box p {
    font-style: italic;
}

#main .box form {
    margin-bottom: 20px;
}

#main .box img {
    margin-bottom: 10px;
}

#main .box a {
    color: #d9534f;
}

#main .box a:hover {
    color: #000;
    text-decoration: none;
}

#main .post .page-header {
    margin-top: 20px;
    border-bottom: 2px solid #000;
}

#main .post .page-header h1 {
    margin-bottom: 0px;
}

#main .post .page-header h4 {
    margin: 0px;
}

#main .post p {
    font-size: 18px;
    font-style: italic;
}

#main .post img {
    display: inline-block;
    margin-bottom: 10px;
}

#main .category .page-header {
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 2px solid #000;
    border-bottom: none;
}

#main .category .page-header h2 {
    margin-bottom: 0px;
}

#main .category .page-header h4 {
    margin: 0px;
}

#main .category p {
    font-size: 18px;
    font-style: italic;
}

#main .category img {
    display: inline-block;
    margin-bottom: 10px;
}

#main .comment {
    margin-bottom: 10px;
}

#main .comment-form {
    margin-bottom: 20px;
}

    /* Admin */

#admin {
    min-height: 500px;
    margin-top: 60px;
}

#admin .home-post {
    padding-left: 10px;
    padding-right: 10px;
}

#admin .thumbnail {
    padding: 0px;
    border: none;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}

#admin .caption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    width: 100%;
    text-shadow: -2px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: #FFF;
}

#admin .caption h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#admin .caption p {
    margin: 5px;
}

#admin .caption-date {
    top: 0;
    right: 0;
    left: inherit;
    bottom: inherit;
    padding: 0;
    width: 100px;
}

#admin .caption-date p {
    margin: 0px;
    font-size: 18px;
}

#admin .users ul {
    padding-left: 0px;
    list-style-type: none;
}

    /* Footer */

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #000;
    color: #fff;
}

    /* Message */

.message {
    padding-top: 10px;
    color: #d9534f;
}

    /* Comments */

.meta-info {
    font-size: 11px;
}

.actions {
    margin-bottom: 10px;
    font-size: 12px;
}
